.shift-box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	.right-bottom,
	.left-top {
		flex: 0 0 50%;
		box-sizing: border-box;

		&.padded {
			padding: 2rem;
		}

		&.x-padded {
			padding: 0 2rem;
		}

		.description {
			color: $light;
		}

		h3 {
			color: $highlight;
			margin: .1rem 0;
		}

		small {
			display: block;
			color: $light;
			font-style: italic;
		}
	}

	.left-top {
		border-right: 1px solid $black;
	}
}

@media (max-width: $maxTabletScreenWidth) {
	.shift-box {
		.right-bottom,
		.left-top {
			flex-basis: 100%;
		}

		.left-top {
			border-right: none;
		}
	}
}

@media (max-width: $maxMobileScreenWidth) {

}