// COLORS

// Greys
$black: #000;
$dark: #171717;
$mid: #222;
$midLight: #333;
$light: #737373;
$bright: #E9E9E9;

// Accents
$highlight: #c19f54;
$lowlight: #9c8148;


// SCREEN
$maxMobileScreenWidth: 740px;
$maxTabletScreenWidth: 1024px;


// SPACING
$xSpacing: 9rem;
$xSpacingTablet: 4rem;
$xSpacingMobile: 1rem;