<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Patrick Metsch</title>
    <link rel="stylesheet" type="text/css" href="/public/main.css" />
  </head>
  <body>
    <div class="hero">
      <h1>Hackaday.io</h1>
    </div>