<%- include ('partials/header') %>	
	<div class="projects-list-container">
		<ul>
			<% projects.map(({id, name}) => { %>
				<li>
					<div class="project shift-box">
						<div class="left-top">
							<h3><%= name %></h3>
							<small>ID: <%= id %></small>
						</div>
					</div>
				</li>
			<% }); %>
		</ul>
	</div>
<%- include ('partials/footer') %>