<%- include ('partials/header') %>
	<div class="container unauthorized">
		<div class="card centered">
			<h1 id="header">Oops... This Page Requires Authentication!</h1>
			<h2>Click the Link Below to Log In!</h2>
			<a id="login" class="primary-button" href=<%= authorizationUrl %>>Login</a>
		</div>
	</div>
<%- include ('partials/footer') %>