@import "./components/variables";
@import "./components/shift-box";
@import "./components/pagination";

body {
	background-color: $dark;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero {
	padding: 4rem 9rem;

	h1 {
		color: $highlight;
		font-size: 4rem;
	}
}

.projects-list-container {
	border: 1px solid $mid;
	background-color: $black;
	margin: 0 9rem;

	ul {
		padding-left: 0;
		margin: 1rem;

		li {
			list-style-type: none;

			.project {
				background-color: $mid;
				border-bottom: 1px solid $black;
				padding: 1rem 0.5rem;
			}
		}
	}
}

@media (max-width: $maxTabletScreenWidth) {
	.desktop-only {
		display: none;
	}
	.hero {
		padding-right: 4rem;
		padding-left: 4rem;

		h1 {
			text-align: center;
			font-size: 3rem;
		}
	}
	.projects-list-container {
		margin-right: 4rem;
		margin-left: 4rem;
	}

}

@media (max-width: $maxMobileScreenWidth) {
	.hero{
		padding-right: 1rem;
		padding-left: 1rem;

		h1 {
			font-size: 2rem;
		}
	}
	.projects-list-container {
		margin-right: 1rem;
		margin-left: 1rem;
	}
}