@import "./components/variables";
@import "./components/shift-box";
@import "./components/pagination";
@import "./components//projectsList";
@import "./components/projectDetail";
@import "./components/button";
@import "./components/tooltip";
@import "./components/nav";

body {
	background-color: $dark;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
}

.hidden {
	display: none;
}

.container {
	border: 1px solid $mid;
	background-color: $black;
	margin: 0 $xSpacing;

	.card {
		margin: 1rem;
		padding: 2rem $xSpacing;
		background-color: $mid;

		h1 {
			color: $highlight;
		}

		h2 {
			color: $bright;
		}

		&.centered {
			text-align: center;
		}
	}
}

.hero {
	padding: 4rem 9rem;

	h1 {
		color: $highlight;
		font-size: 4rem;
	}
}

@media (max-width: $maxTabletScreenWidth) {
	.desktop-only {
		display: none;
	}

	.container {
		margin-right: $xSpacingTablet;
		margin-left: $xSpacingTablet;
	}

	.hero {
		padding-right: 4rem;
		padding-left: 4rem;

		h1 {
			text-align: center;
			font-size: 3rem;
		}
	}
}

@media (max-width: $maxMobileScreenWidth) {
	.container {
		margin-right: $xSpacingMobile;
		margin-left: $xSpacingMobile;
	}

	.hero {
		padding-right: 1rem;
		padding-left: 1rem;

		h1 {
			font-size: 2rem;
		}
	}
}
