.shift-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.shift-box .right-bottom,
.shift-box .left-top {
  flex: 0 0 50%;
  box-sizing: border-box;
}
.shift-box .right-bottom.padded,
.shift-box .left-top.padded {
  padding: 2rem;
}
.shift-box .right-bottom.x-padded,
.shift-box .left-top.x-padded {
  padding: 0 2rem;
}
.shift-box .right-bottom .description,
.shift-box .left-top .description {
  color: #737373;
}
.shift-box .right-bottom h3,
.shift-box .left-top h3 {
  color: #c19f54;
  margin: 0.1rem 0;
}
.shift-box .right-bottom small,
.shift-box .left-top small {
  display: block;
  color: #737373;
  font-style: italic;
}
.shift-box .left-top {
  border-right: 1px solid #000;
}

@media (max-width: 1024px) {
  .shift-box .right-bottom,
.shift-box .left-top {
    flex-basis: 100%;
  }
  .shift-box .left-top {
    border-right: none;
  }
}
.pagination {
  margin: 2rem 0;
  text-align: center;
}
.pagination a,
.pagination span {
  margin: 0.5rem;
}
.pagination span {
  font-weight: bold;
  color: white;
}

.projects-list ul {
  padding-left: 0;
  margin: 1rem;
}
.projects-list ul li {
  list-style-type: none;
}
.projects-list ul li a {
  text-decoration: none;
}
.projects-list ul li a .project {
  background-color: #222;
  border-bottom: 1px solid #000;
  padding: 1rem 0.5rem;
}
.projects-list ul li a .project:hover {
  background-color: #333;
}

.product-details {
  padding: 1rem;
}
.product-details .header,
.product-details .details,
.product-details .footer {
  padding: 3rem 9rem;
  margin-bottom: 2rem;
}
.product-details .header {
  text-align: center;
}
.product-details .header h1, .product-details .header h2, .product-details .header h3 {
  margin-top: 0;
}
.product-details .header h1 {
  color: #c19f54;
  margin-bottom: 3rem;
  font-size: 2.5rem;
}
.product-details .header h2 {
  color: #E9E9E9;
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}
.product-details .header h2 span {
  font-style: italic;
}
.product-details .header h3 {
  color: #737373;
  font-size: 1rem;
  margin-bottom: 0.25rem;
}
.product-details .details {
  background-color: #222;
}
.product-details .details .summary {
  font-size: 1.25rem;
  font-style: italic;
  color: #E9E9E9;
  border-bottom: 1ps solid #000;
}
.product-details .details .description {
  color: #737373;
}
.product-details .footer img,
.product-details .footer .image-not-found {
  border-radius: 5px;
}
.product-details .footer img {
  max-width: 100%;
}
.product-details .footer .image-not-found {
  background-color: #222;
  padding: 3rem;
  min-height: 250px;
  text-align: center;
}
.product-details .footer .image-not-found p {
  color: #737373;
  font-size: 1.5rem;
}
.product-details .footer .related-projects {
  display: flex;
  flex-direction: column;
}
.product-details .footer .related-projects h3 {
  color: #E9E9E9;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.product-details .footer .related-projects .primary-button {
  margin-bottom: 0.5rem;
}

@media (max-width: 1024px) {
  .product-details .header,
.product-details .details,
.product-details .footer {
    padding: 3rem 4rem;
  }
  .product-details .footer .image-not-found {
    width: auto;
  }
}
@media (max-width: 740px) {
  .product-details .header,
.product-details .details,
.product-details .footer {
    padding: 3rem 1rem;
  }
}
.primary-button {
  padding: 0.5rem 1rem;
  color: black;
  background-color: #c19f54;
  border-radius: 3px;
  text-decoration: none;
}
.primary-button:hover {
  background-color: #9c8148;
}

.tooltip {
  width: 200px;
  padding: 1rem;
  background-color: #E9E9E9;
  position: absolute;
  left: 200px;
}
.tooltip h4 {
  color: #171717;
}
.tooltip p {
  color: #222;
}

nav {
  position: sticky;
  top: 0;
  background-color: #222;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}
nav .brand-container h1 {
  color: #E9E9E9;
  margin: 0;
}
nav .nav-container a {
  text-decoration: none;
  color: #9c8148;
  margin-left: 5rem;
  font-size: 0.8rem;
}
nav .nav-container a.primary-link {
  font-weight: bold;
  font-size: 1rem;
}

body {
  background-color: #171717;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

.hidden {
  display: none;
}

.container {
  border: 1px solid #222;
  background-color: #000;
  margin: 0 9rem;
}
.container .card {
  margin: 1rem;
  padding: 2rem 9rem;
  background-color: #222;
}
.container .card h1 {
  color: #c19f54;
}
.container .card h2 {
  color: #E9E9E9;
}
.container .card.centered {
  text-align: center;
}

.hero {
  padding: 4rem 9rem;
}
.hero h1 {
  color: #c19f54;
  font-size: 4rem;
}

@media (max-width: 1024px) {
  .desktop-only {
    display: none;
  }

  .container {
    margin-right: 4rem;
    margin-left: 4rem;
  }

  .hero {
    padding-right: 4rem;
    padding-left: 4rem;
  }
  .hero h1 {
    text-align: center;
    font-size: 3rem;
  }
}
@media (max-width: 740px) {
  .container {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .hero {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .hero h1 {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=main.css.map */
